doctype
html(ng-app="UbezpDB")
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
  body
    div(ui-view="")

    // SCRIPTS
    script(type="text/javascript", src="/linker/js/vendor/angular/angular.js")
    script(type="text/javascript", src="/linker/js/vendor/angular-ui-router/angular-ui-router.js")
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type="text/javascript", src="/linker/js/sails.io.js")
    script(type="text/javascript", src="/linker/js/app.js")
    script(type="text/javascript", src="/linker/js/application/main.js")
    script(type="text/javascript", src="/linker/js/application/customers/controllers/customers_controller.js")
    script(type="text/javascript", src="/linker/js/application/customers/router.js")
    // SCRIPTS END
